PORT=4000
NODE_ENV=development
TZ=Asia/Jakarta

# Database Configuration (Pilih 'sqlite' atau 'postgres')
DB_DIALECT=sqlite
DB_STORAGE=./database.sqlite
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=rahasia
DB_NAME=db_iptek

# Security
JWT_SECRET=supersecretkey_iptek_org_2026
JWT_EXPIRES_IN=24h
CLIENT_ORIGIN=http://localhost:4000

# QRIS Configuration (Bendahara)
# Nama merchant yang tampil di UI pembayaran
QRIS_MERCHANT_NAME=Bendahara UKM IPTEK
# NMID (Nomor Merchant ID) dari QRIS statis Bendahara
QRIS_NMID=BELUM_DIKONFIGURASI
